@mixin flexCenter {
    display: flex;
    align-items: center;
}

@mixin flexTotalCenter {
    @include flexCenter;
    justify-content: center;
}

@mixin flexCenterJustify {
    @include flexCenter;
    justify-content: space-between;
}

$breakpoints: (
    'laptop': 1200px,
    'tablet': 991px,
    'mobile': 560px,
);

@mixin responsivo($breakpoints-name) {
    @if map-has-key($breakpoints, $breakpoints-name ) {
       @media (max-width: map-get($breakpoints, $breakpoints-name)) {
        @content;
       }
    }
    @else {
      @warn "Este breakpoint que você definiu não existe"  
    }
}